@{
    ViewData["Title"] = "Search shipments";
}

@model List<ShipmentViewModel>;

<div id="MainFrame" class="pb-5">
    <div class="jumbotron jumbotron-fluid m-0 pl-0 pr-0 py-3">
        <div class="container">
            <div class="row mt-3 mb-2 p-3">
                <div class="col-6 p-1">
                    @Html.ActionLink("Looking for shipments", "Shipments", "Search", null, new { @class = "btn btn-outline-primary btn-block active" })
                </div>
                <div class="col-6 p-1">
                    @Html.ActionLink("Looking for buyers","Buyers","Search", null, new {@class = "btn btn-outline-primary btn-block" })
                </div>
            </div>

            <div class="row no-gutters border-0">
                <div class="col">
                    <input v-model="searchText" v-on:input="presearch()" class="form-control" type="search" placeholder="Search for...">
                </div>
                <div class="col-auto">
                    <button v-on:click="search();" class="btn btn-outline-primary rounded-0" type="button">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
                <div v-if="searchRecommendations.length > 0" class="col-12 m-0 p-0 bg-white border">
                    <ul class="list-unstyled">
                        <li v-for="recommendation in searchRecommendations">
                            <div v-on:click="searchText = recommendation; search();" class="p-1 search-result-item">
                                <i class="fas fa-search text-secondary ml-2 mr-2"></i>
                                {{recommendation}}
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row mb-3">
            <div class="col-12 mt-4">
                <h4>Found @ViewData["TotalShipments"] shipments</h4>
            </div>
        </div>

        <div class="row">
            <div class="col-12 mt-4">

                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">Date</th>
                                <th scope="col">Buyer</th>
                                <th scope="col">Seller</th>
                                <th scope="col">Description</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var shipment in Model)
                            {
                            <tr>
                                <td scope="col">
                                    <span>@shipment.Date.ToShortDateString()</span>
                                </td>
                                <td scope="col">@shipment.Buyer.Name</td>
                                <td scope="col">@shipment.Seller.Name</td>
                                <td scope="col">@shipment.Description</td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>

                @*<ul class="list-unstyled">
                    @foreach (var shipment in Model)
                    {
                        <div class="card">
                            <div class="card-body">
                                <div class="card-title">
                                    @shipment.Description
                                </div>
                                <div class="card-title">
                                    Buyer: @shipment.Buyer.Name
                                    Seller: @shipment.Seller.Name
                                </div>
                            </div>
                        </div>
                    }
                </ul>*@
            </div>
        </div>
    </div>

</div>

@section scripts {
    <script src="//unpkg.com/vue-plain-pagination@0.2.1"></script>

    <script type="text/javascript">
        Vue.component('v-pagination', window['vue-plain-pagination']);

        var App = new Vue({
            el: '#MainFrame',
            data: {
                searchText: '@Context.Request.Query["q"]',
                searchRecommendations: [],
                isAuthenticated: @(User.Identity.IsAuthenticated ? "true" : "false"),
            },
            methods: {
                presearch:function () {
                    let self = this;
                    self.selectedItem = null;
                    if (self.searchText.length == 0) {
                        self.searchResults = { count: 0, shipments: [] };
                        self.searchRecommendations = [];
                    } else {
                        $.ajax({
                            method: "get",
                            url: `presearchshipments`,
                            data: { q: self.searchText},
                            success: function (result) {
                                self.searchRecommendations = result;
                            }
                        });
                    };
                },
                search: function () {
                    window.location.href = '?q=' + encodeURI(this.searchText) + '&page=1';
                },
                sendRequest: function () {
                    alert("Request sent. Thank you!");
                }
            },
            created: function () {
            },
            watch: {
            }
        });
    </script>

}