@{
    ViewData["Title"] = "Search shipments";
}

@model List<ShipmentViewModel>;
@using Microsoft.VisualBasic;
@{ var db = new PharmaceuticalBank_Core1.Models.DAL4.pharmabank1Context(); }

@{if(!User.Identity.IsAuthenticated) {
    <p>
        <a href="~/Identity/Account/Login">You are not allowed to view this page, please login.</a>
    </p>
}}

<div id="MainFrame" class="pb-5" v-on:click="recOpened = false" v-if="auhorized == 'True'">
    <div class="jumbotron jumbotron-fluid m-0 pl-0 pr-0 py-3">
        <div class="container">
            <div class="row mt-3 mb-2 p-3">
                <div class="col-4 p-1">
                    @Html.ActionLink("Looking for shipments (" + String.Format("{0:n0}", ViewData["TotalShipments"]) + ")", "Shipments", "Search", new { q = Context.Request.Query["q"], page = 1 }, new { @class = "btn btn-outline-primary btn-block active rounded-0", @style = "border-radius:0.25em !important;" })
                </div>
                <div class="col-4 p-1">
                    @Html.ActionLink("Looking for suppliers (" + String.Format("{0:n0}", ViewData["TotalSuppliers"]) + ")", "Suppliers", "Search", new { q = Context.Request.Query["q"], page = 1, Year = 2020 }, new { @class = "btn btn-outline-primary btn-block", @style = "border-radius:0.25em !important;" })
                </div>
                <div class="col-4 p-1">
                    @Html.ActionLink("Looking for buyers (" + String.Format("{0:n0}", ViewData["TotalBuyers"]) + ")", "Buyers", "Search", new { q = Context.Request.Query["q"], page = 1, Year = 2020 }, new { @class = "btn btn-outline-primary btn-block", @style = "border-radius:0.25em !important;" })
                </div>
            </div>

            <div class="row no-gutters border-0">
                <div class="col">
                    <input v-on:click.stop="recOpened = true" v-model="searchText" v-on:keyup.enter="search()" v-on:input="presearch(); recOpened = true" class="form-control" type="search" placeholder="Enter a product, product type">
                </div>
                <div class="col-auto">
                    <button v-on:click="search();" class="btn btn-outline-primary rounded-0 ml-2" type="button">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
                <div class="col-12 text-center pt-1">
                    <span>
                        Trending searches:
                        <u>@Html.ActionLink("gabapentin", "Shipments", "Search", new { q = "gabapentin", page = 1 }, new { @class = "text-dark" })</u>,
                        <u>@Html.ActionLink("amlodipine", "Shipments", "Search", new { q = "amlodipine", page = 1 }, new { @class = "text-dark" })</u>,
                        <u>@Html.ActionLink("lisinopril", "Shipments", "Search", new { q = "lisinopril", page = 1 }, new { @class = "text-dark" })</u>,
                        <u>@Html.ActionLink("prednisone", "Shipments", "Search", new { q = "prednisone", page = 1 }, new { @class = "text-dark" })</u>,
                        <u>@Html.ActionLink("tramadol", "Shipments", "Search", new { q = "tramadol", page = 1 }, new { @class = "text-dark" })</u>
                    </span>
                </div>
                <div v-if="recOpened" class="col-12 m-0 p-0 bg-white border">
                    <ul class="list-unstyled">
                        <li v-for="recommendation in searchRecommendations">
                            <div v-on:click="searchText = recommendation.phrase; search();" class="p-1 search-result-item">
                                <i class="fas fa-search text-secondary ml-2 mr-2"></i>
                                {{recommendation.phrase}}  <span class="float-right mr-3">{{recommendation.count}} shipments found</span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row mb-3">
            <div class="col-12 mt-4">
                <h4>Found {{searchData.totalShipments}} shipments</h4>
            </div>
            @*<div class="col-12">
                    <span>Our last Shipment is on  @ViewData["LastShipmentData"] and we add 'New" badge for all shipments from last 30 days</span>
                </div>*@
        </div>

        <div class="row">
            <form class="w-100" method="post" asp-controller="Search" asp-action="Filter">
                <input type="hidden" name="page" value="@Context.Request.Query["page"].ToString()" />
                <input type="hidden" name="q" value="@Context.Request.Query["q"].ToString()" />
                <div class="form-row">
                    <div class="col">
                        Year:
                        <select v-model="filter.year" name="Year" class="form-control">
                            <option value="">All</option>
                            <option value="2020">2020</option>
                            <option value="2019">2019</option>
                            <option value="2018">2018</option>
                            <option value="2017">2017</option>
                            <option value="2016">2016</option>
                            <option value="2015">2015</option>
                        </select>
                    </div>
                    <div class="col">
                        From country:
                        <select v-model="filter.fromCountry" name="FromCountry" class="form-control">
                            <option value="">All</option>
                            <option value="American Samoa">American Samoa</option>
                            <option value="Anguilla">Anguilla</option>
                            <option value="Argentina">Argentina</option>
                            <option value="Aruba">Aruba</option>
                            <option value="Australia">Australia</option>
                            <option value="Austria">Austria</option>
                            <option value="Bahamas">Bahamas</option>
                            <option value="Bangladesh">Bangladesh</option>
                            <option value="Barbados">Barbados</option>
                            <option value="Belgium">Belgium</option>
                            <option value="Belize">Belize</option>
                            <option value="Bermuda">Bermuda</option>
                            <option value="Bolivia">Bolivia</option>
                            <option value="Brazil">Brazil</option>
                            <option value="Cambodia">Cambodia</option>
                            <option value="Canada">Canada</option>
                            <option value="Cayman Islands">Cayman Islands</option>
                            <option value="Chile">Chile</option>
                            <option value="China">China</option>
                            <option value="Colombia">Colombia</option>
                            <option value="Comoros">Comoros</option>
                            <option value="Costa Rica">Costa Rica</option>
                            <option value="Croatia">Croatia</option>
                            <option value="Cyprus">Cyprus</option>
                            <option value="Czech Republic">Czech Republic</option>
                            <option value="Denmark">Denmark</option>
                            <option value="Dominica">Dominica</option>
                            <option value="Dominican Republic">Dominican Republic</option>
                            <option value="Ecuador">Ecuador</option>
                            <option value="Egypt">Egypt</option>
                            <option value="El Salvador">El Salvador</option>
                            <option value="Estonia">Estonia</option>
                            <option value="Ethiopia">Ethiopia</option>
                            <option value="Finland">Finland</option>
                            <option value="France">France</option>
                            <option value="French Polynesia">French Polynesia</option>
                            <option value="Georgia">Georgia</option>
                            <option value="Germany">Germany</option>
                            <option value="Ghana">Ghana</option>
                            <option value="Grenada">Grenada</option>
                            <option value="Guam">Guam</option>
                            <option value="Guatemala">Guatemala</option>
                            <option value="Guyana">Guyana</option>
                            <option value="Haiti">Haiti</option>
                            <option value="Honduras">Honduras</option>
                            <option value="Hong Kong">Hong Kong</option>
                            <option value="Hungary">Hungary</option>
                            <option value="Iceland">Iceland</option>
                            <option value="India">India</option>
                            <option value="Indonesia">Indonesia</option>
                            <option value="Iran">Iran</option>
                            <option value="Iraq">Iraq</option>
                            <option value="Ireland">Ireland</option>
                            <option value="Israel">Israel</option>
                            <option value="Italy">Italy</option>
                            <option value="Jamaica">Jamaica</option>
                            <option value="Japan">Japan</option>
                            <option value="Jersey">Jersey</option>
                            <option value="Kuwait">Kuwait</option>
                            <option value="Latvia">Latvia</option>
                            <option value="Lebanon">Lebanon</option>
                            <option value="Libya">Libya</option>
                            <option value="Lithuania">Lithuania</option>
                            <option value="Luxembourg">Luxembourg</option>
                            <option value="Macau">Macau</option>
                            <option value="Madagascar">Madagascar</option>
                            <option value="Malaysia">Malaysia</option>
                            <option value="Malta">Malta</option>
                            <option value="Mauritius">Mauritius</option>
                            <option value="Mexico">Mexico</option>
                            <option value="Monaco">Monaco</option>
                            <option value="Netherlands">Netherlands</option>
                            <option value="New Caledonia">New Caledonia</option>
                            <option value="New Zealand">New Zealand</option>
                            <option value="Nicaragua">Nicaragua</option>
                            <option value="Nigeria">Nigeria</option>
                            <option value="Norway">Norway</option>
                            <option value="NULL">NULL</option>
                            <option value="Pakistan">Pakistan</option>
                            <option value="Palestine">Palestine</option>
                            <option value="Panama">Panama</option>
                            <option value="Paraguay">Paraguay</option>
                            <option value="Peru">Peru</option>
                            <option value="Philippines">Philippines</option>
                            <option value="Poland">Poland</option>
                            <option value="Portugal">Portugal</option>
                            <option value="Puerto Rico">Puerto Rico</option>
                            <option value="Russia">Russia</option>
                            <option value="Saint Kitts and Nevis">Saint Kitts and Nevis</option>
                            <option value="Saint Martin">Saint Martin</option>
                            <option value="Saint Vincent and the Grenadines">Saint Vincent and the Grenadines</option>
                            <option value="Saudi Arabia">Saudi Arabia</option>
                            <option value="Serbia">Serbia</option>
                            <option value="Sierra Leone">Sierra Leone</option>
                            <option value="Singapore">Singapore</option>
                            <option value="Slovakia">Slovakia</option>
                            <option value="Slovenia">Slovenia</option>
                            <option value="South Africa">South Africa</option>
                            <option value="South Korea">South Korea</option>
                            <option value="Spain">Spain</option>
                            <option value="Sri Lanka">Sri Lanka</option>
                            <option value="Sweden">Sweden</option>
                            <option value="Switzerland">Switzerland</option>
                            <option value="Taiwan">Taiwan</option>
                            <option value="Thailand">Thailand</option>
                            <option value="Trinidad and Tobago">Trinidad and Tobago</option>
                            <option value="Turkey">Turkey</option>
                            <option value="Ukraine">Ukraine</option>
                            <option value="United Arab Emirates">United Arab Emirates</option>
                            <option value="United Kingdom">United Kingdom</option>
                            <option value="United States">United States</option>
                            <option value="Uruguay">Uruguay</option>
                            <option value="Venezuela">Venezuela</option>
                            <option value="Vietnam">Vietnam</option>
                            <option value="Zimbabwe">Zimbabwe</option>
                        </select>
                    </div>
                    <div class="col">
                        To country:
                        <select v-model="filter.toCountry" name="ToCountry" class="form-control">
                            <option value="">All</option>
                            <option value="American Samoa">American Samoa</option>
                            <option value="Anguilla">Anguilla</option>
                            <option value="Argentina">Argentina</option>
                            <option value="Aruba">Aruba</option>
                            <option value="Australia">Australia</option>
                            <option value="Austria">Austria</option>
                            <option value="Bahamas">Bahamas</option>
                            <option value="Bangladesh">Bangladesh</option>
                            <option value="Barbados">Barbados</option>
                            <option value="Belgium">Belgium</option>
                            <option value="Belize">Belize</option>
                            <option value="Bermuda">Bermuda</option>
                            <option value="Bolivia">Bolivia</option>
                            <option value="Brazil">Brazil</option>
                            <option value="Cambodia">Cambodia</option>
                            <option value="Canada">Canada</option>
                            <option value="Cayman Islands">Cayman Islands</option>
                            <option value="Chile">Chile</option>
                            <option value="China">China</option>
                            <option value="Colombia">Colombia</option>
                            <option value="Comoros">Comoros</option>
                            <option value="Costa Rica">Costa Rica</option>
                            <option value="Croatia">Croatia</option>
                            <option value="Cyprus">Cyprus</option>
                            <option value="Czech Republic">Czech Republic</option>
                            <option value="Denmark">Denmark</option>
                            <option value="Dominica">Dominica</option>
                            <option value="Dominican Republic">Dominican Republic</option>
                            <option value="Ecuador">Ecuador</option>
                            <option value="Egypt">Egypt</option>
                            <option value="El Salvador">El Salvador</option>
                            <option value="Estonia">Estonia</option>
                            <option value="Ethiopia">Ethiopia</option>
                            <option value="Finland">Finland</option>
                            <option value="France">France</option>
                            <option value="French Polynesia">French Polynesia</option>
                            <option value="Georgia">Georgia</option>
                            <option value="Germany">Germany</option>
                            <option value="Ghana">Ghana</option>
                            <option value="Grenada">Grenada</option>
                            <option value="Guam">Guam</option>
                            <option value="Guatemala">Guatemala</option>
                            <option value="Guyana">Guyana</option>
                            <option value="Haiti">Haiti</option>
                            <option value="Honduras">Honduras</option>
                            <option value="Hong Kong">Hong Kong</option>
                            <option value="Hungary">Hungary</option>
                            <option value="Iceland">Iceland</option>
                            <option value="India">India</option>
                            <option value="Indonesia">Indonesia</option>
                            <option value="Iran">Iran</option>
                            <option value="Iraq">Iraq</option>
                            <option value="Ireland">Ireland</option>
                            <option value="Israel">Israel</option>
                            <option value="Italy">Italy</option>
                            <option value="Jamaica">Jamaica</option>
                            <option value="Japan">Japan</option>
                            <option value="Jersey">Jersey</option>
                            <option value="Kuwait">Kuwait</option>
                            <option value="Latvia">Latvia</option>
                            <option value="Lebanon">Lebanon</option>
                            <option value="Libya">Libya</option>
                            <option value="Lithuania">Lithuania</option>
                            <option value="Luxembourg">Luxembourg</option>
                            <option value="Macau">Macau</option>
                            <option value="Madagascar">Madagascar</option>
                            <option value="Malaysia">Malaysia</option>
                            <option value="Malta">Malta</option>
                            <option value="Mauritius">Mauritius</option>
                            <option value="Mexico">Mexico</option>
                            <option value="Monaco">Monaco</option>
                            <option value="Netherlands">Netherlands</option>
                            <option value="New Caledonia">New Caledonia</option>
                            <option value="New Zealand">New Zealand</option>
                            <option value="Nicaragua">Nicaragua</option>
                            <option value="Nigeria">Nigeria</option>
                            <option value="Norway">Norway</option>
                            <option value="NULL">NULL</option>
                            <option value="Pakistan">Pakistan</option>
                            <option value="Palestine">Palestine</option>
                            <option value="Panama">Panama</option>
                            <option value="Paraguay">Paraguay</option>
                            <option value="Peru">Peru</option>
                            <option value="Philippines">Philippines</option>
                            <option value="Poland">Poland</option>
                            <option value="Portugal">Portugal</option>
                            <option value="Puerto Rico">Puerto Rico</option>
                            <option value="Russia">Russia</option>
                            <option value="Saint Kitts and Nevis">Saint Kitts and Nevis</option>
                            <option value="Saint Martin">Saint Martin</option>
                            <option value="Saint Vincent and the Grenadines">Saint Vincent and the Grenadines</option>
                            <option value="Saudi Arabia">Saudi Arabia</option>
                            <option value="Serbia">Serbia</option>
                            <option value="Sierra Leone">Sierra Leone</option>
                            <option value="Singapore">Singapore</option>
                            <option value="Slovakia">Slovakia</option>
                            <option value="Slovenia">Slovenia</option>
                            <option value="South Africa">South Africa</option>
                            <option value="South Korea">South Korea</option>
                            <option value="Spain">Spain</option>
                            <option value="Sri Lanka">Sri Lanka</option>
                            <option value="Sweden">Sweden</option>
                            <option value="Switzerland">Switzerland</option>
                            <option value="Taiwan">Taiwan</option>
                            <option value="Thailand">Thailand</option>
                            <option value="Trinidad and Tobago">Trinidad and Tobago</option>
                            <option value="Turkey">Turkey</option>
                            <option value="Ukraine">Ukraine</option>
                            <option value="United Arab Emirates">United Arab Emirates</option>
                            <option value="United Kingdom">United Kingdom</option>
                            <option value="United States">United States</option>
                            <option value="Uruguay">Uruguay</option>
                            <option value="Venezuela">Venezuela</option>
                            <option value="Vietnam">Vietnam</option>
                            <option value="Zimbabwe">Zimbabwe</option>
                        </select>
                    </div>
                    <div class="d-flex align-self-end">
                        <input type="submit" class="btn btn-primary" value="Filter" />
                    </div>
                </div>
            </form>
        </div>

        <div class="row">
            <div class="col-12 mt-4">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">Date</th>
                                <th scope="col">Seller</th>
                                <th scope="col">Buyer</th>
                                <th scope="col">Shipment description</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-if="searching == true">
                                <td colspan="4">
                                    <div class="text-center">
                                        <div class="spinner-border" role="status">
                                            <span class="sr-only">Loading...</span>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr v-if="searching == false && searchData.totalShipments == 0">
                                <td colspan="4">
                                    <div class="text-center">
                                        No shipments found
                                    </div>
                                </td>
                            </tr>
                            <tr v-for="shipment in searchData.shipments">
                                <td scope="col">
                                    <span>
                                        {{shipment.date.split("T")[0]}}
                                    </span>
                                </td>
                                <td scope="col">
                                    <span>
                                        <a v-bind:href="'/companies/details/' + shipment.seller.id">{{shipment.seller.name}}</a><br />
                                        {{shipment.seller.country}}
                                    </span>
                                </td>
                                <td scope="col">
                                    <span>
                                        <a v-bind:href="'/companies/details/' + shipment.buyer.id">{{shipment.buyer.name}}</a><br />
                                        {{shipment.buyer.country}}
                                    </span>
                                </td>
                                <td scope="col">
                                    <a style="color:inherit" v-bind:href="'/shipments/details/' + shipment.id" v-html="getMarkedHTML(shipment.description,150)">
                                    </a>
                                </td>
                            </tr>

                            @if (false)
                            {
                            @foreach (var shipment in Model)
                                {
                            <tr>
                                <td scope="col">
                                    <span>
                                        @shipment.Date.ToShortDateString()
                                        @if (shipment.Date > DateTime.Now.AddDays(-30))
                                                {@Html.Raw("<span class='badge badge-primary'>New</span>");
                                            }
                                    </span>
                                </td>
                                @if (shipment.Seller.Name == null)
                                        {
                                <td scope="col">-</td>
                                        }
                                        else
                                        {
                                <td scope="col">@Html.ActionLink(shipment.Seller.Name, "Details", "Companies", new { Id = shipment.Seller.Id }) <br />@shipment.Seller.Country </td>
                                        }
                                @if (shipment.Buyer.Name == null)
                                        {
                                <td scope="col">-</td>
                                        }
                                        else
                                        {
                                <td scope="col">@Html.ActionLink(shipment.Buyer.Name, "Details", "Companies", new { Id = shipment.Buyer.Id }) <br />@shipment.Buyer.Country</td>
                                        }
                                <td scope="col">
                                    <a class="text-dark" href="@Url.Action("Details","Shipments", new { id = shipment.Id, q = Context.Request.Query["q"]})">
                                        <span v-html='getMarkedHTML("@System.Text.RegularExpressions.Regex.Replace(shipment.Description, "[^a-zA-Z0-9 -]", " ")",150)'></span>
                                    </a>
                                    @*@Html.ActionLink(shipment.Description.Replace("Pharma","<b>Pharma</b>"), "Details", "Shipments", new { Id = shipment.Id })*@
                                </td>
                            </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>

                <paginate v-if="searching == false && searchData.totalPages > 0" :page-count="searchData.totalPages"
                          :page-range="5"
                          :margin-pages="2"
                          :page-link-class="'page-link'"
                          :prev-link-class="'page-link'"
                          :next-link-class="'page-link'"
                          :click-handler="clickCallback"
                          :prev-text="'Prev'"
                          :initial-page="@(int.Parse(Context.Request.Query["page"])-1)"
                          :next-text="'Next'"
                          :container-class="'pagination justify-content-center'"
                          :page-class="'page-item'">
                </paginate>

            </div>
        </div>
    </div>

</div>

@section scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.25.3/moment.min.js" integrity="sha256-C66CaAImteEKZPYvgng9j10J/45e9sAuZyfPYCwp4gE=" crossorigin="anonymous"></script>
    <!-- or use the specify version -->
    <script src="https://unpkg.com/vuejs-paginate@0.9.0"></script>

    <script type="text/javascript">
        Vue.component('paginate', VuejsPaginate);

        var App = new Vue({
            el: '#MainFrame',
            data: {
                searchText: '@Context.Request.Query["q"]',
                searchRecommendations: [],
                isAuthenticated: @(User.Identity.IsAuthenticated ? "true" : "false"),
                recOpened: true,
                searchData: { totalPages: 1, shipments: [], totalShipments: 0 },
                searching: true,
                auhorized: '@User.Identity.IsAuthenticated',
                filter: {
                    year: '@Context.Request.Query["year"]',
                    fromCountry: '@Context.Request.Query["fromCountry"]',
                    toCountry:'@Context.Request.Query["toCountry"]'
                }
            },
            methods: {
                clickCallback: function (pageNum) {
                    var href = new URL(window.location.href);
                    href.searchParams.set('page', pageNum);
                    window.location.href = href;
                },
                presearch:function () {
                    let self = this;
                    self.selectedItem = null;
                    if (self.searchText.length == 0) {
                        self.searchResults = { count: 0, shipments: [] };
                        self.searchRecommendations = [];
                    } else {
                        $.ajax({
                            method: "get",
                            url: `presearchshipments`,
                            data: { q: self.searchText},
                            success: function (result) {
                                self.searchRecommendations = result;
                            }
                        });
                    };
                },
                search: function () {
                    window.location.href = '?q=' + encodeURI(this.searchText) + '&page=1';
                },
                sendRequest: function () {
                    alert("Request sent. Thank you!");
                },
                getMarkedHTML: function (text, len) {
                    if (text == null) { return; }
                    if (this.searchText.length == 0) { return text.substr(0,len);}
                    var reg = new RegExp(this.searchText, 'gi');
                    if (len == -1) {
                        return text.replace(reg, function (str) { return '<strong style="color:#4C8BF5;">' + str + '</strong>' });
                    } else {
                        var startPos = text.toLowerCase().indexOf(this.searchText.toLowerCase()) - 75;
                        if (startPos < 0) {
                            startPos = 0;
                        };
                        console.log(startPos);
                        return text.replace(reg, function (str) { return '<strong style="color:#4C8BF5;">' + str + '</strong>' }).substr(startPos, len);
                    }
                },
                loadSearchData: function () {
                    let self = this;
                    self.searching = true;
                    $.ajax({
                        method: "get",
                        url: '@Url.Action("ShipmentsData", "Search")',
                        data: {
                            q: '@Context.Request.Query["q"]',
                            page: '@Context.Request.Query["page"]',
                            year:'@Context.Request.Query["year"]',
                            fromCountry: '@Context.Request.Query["fromCountry"]',
                            toCountry: '@Context.Request.Query["toCountry"]'
                        },
                        success: function (result) {
                            console.log(result);
                            self.searchData.shipments = result.shipments;
                            self.searchData.totalPages = result.totalPages;
                            self.searchData.totalShipments = result.totalShipments.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,');
                            self.searching = false;
                        },
                        error: function () {
                            self.searching = false;
                        }
                    });
                }
            },
            created: function () {
                this.presearch();
                this.recOpened = false;
                this.loadSearchData();
            },
            watch: {
            }
        });
    </script>
}